* {
   box-sizing: border-box;
   margin: 0;
}

.page {
   font-family: 'Open Sans', sans-serif;
   text-align: center;
}


/* =============== Header =============== */


header {
   padding-top: 107px;
}

h1 {
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
}

hr {
  background: #FF8B38;
  width: 64px;
  height: 2px;
  border: none;
  margin: 30px auto;
}

h4 {
  font-size: 14px;
  color: #86878B;
  font-weight: 400;
}


/* =============== Main =============== */


main{ 
   padding: 80px 0 107px;
   font-size: 0;
}

.box {
   width: 350px;
   display: inline-block;
   margin: 0 16px;
}

.pic {
   width: 70px;
   height: 70px;
   margin: 0 auto;
   border: 2px solid #FF8B38;
   border-radius: 50%; 
}

h3 {
   font-size: 20px;
   color: #333333;
   margin: 30px 0;
} 

p {
   font-size: 14px;
   color: #86878B; 
}

.pic--lamp {
   background: url(../img/lamp.jpg) no-repeat center center;
}

.pic--keyboard {
   background: url(../img/keyboard.jpg) no-repeat center center;
}

.pic--volt {
   background: url(../img/volt.jpg) no-repeat center center;
}


/* =============== Section =============== */


section {
   background: url(../img/city.png) no-repeat;
}

.container {
   background: rgba(0, 0, 0, 0.5);
   padding: 76px 0 25px;
}

h2 {
   font-size: 36px;
   color: #ffffff;
   font-family: 'Raleway', sans-serif;
   text-align: center;
}

.container hr {
   background: #ffffff;
   margin-top: 26px;
}

.container p {
   font-size: 16px;
   color: #ffffff;
}

button {
   display: block;
   margin: 30px auto;
   width: 135px;
   height: 42px;
   border: 2px solid #ffffff;
   color: #ffffff;
   background: transparent;
   cursor: pointer;
   font-size: 15px;
}


/* =============== Footer =============== */


footer {
   background: #080808;
   padding-top: 39px;
}

.icon-logo{
   margin: 0 auto;
   padding: 0;
   width: 320px;
   height: 30px;
}

li {
   list-style-type: none;
   display: inline-block;
}

a {
   display: inline-block;
   position: relative;
   background: url(../img/logo.png) no-repeat;
   background-position: left top;
   background-origin: content-box;
   margin: 0 5px;
   width: 30px;
   height: 23px;
}

.link-twitter {
   background-position: -40px 0;
}

.link-googleplus {
   background-position: -90px 0;
}

.link-pinterest {
   background-position: -140px 0;
}

.link-instagram {
   background-position: -190px 0;
}

.link-stumbleupon {
   background-position: -240px 0;
}

.link-rss {
   background-position: -290px 0;
}

footer p {
   font-size: 12px;
   color: #ffffff;
   padding: 15px 0;
}


